.cruz-roja {
  width: 25em;
  height: 25em;
  border: 1px solid red;
  position: relative;
  font-size: 3px;
}

.cruz-roja::before, .cruz-roja::after {
  content: '';
  width: 50%;
  height: 100%;
  background-color: red;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
}

.cruz-roja::after {
  -webkit-transform: translateX(-50%) rotate(90deg);
      -ms-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
}
