body {
  margin: 0;
  background-color: white;
  font-family: Comic Sans MS, arial, sans-serif;
}





/* COLORS */
.colors {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px;
  grid-template-areas: "featured featured";
}

.color {
  padding: 10px;
  
}

.color__code {
  background-color: white;
  padding: 3px 5px;
  border-radius: 5px;
}

.color--featured {
  grid-area: featured;
}