
body {
  margin: 0;
}


.grid-container {
  background: gold;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "uno  uno    dos  dos"
    "tres cinco  dos  dos"
    "tres cuatro seis seis";
  gap: 20px;

}
.grid-container__item {
  background: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}

.grid-container__item--1 {
  grid-area: uno;
}

.grid-container__item--2 {
  grid-area: dos;
}

.grid-container__item--3 {
  grid-area: tres;
}

.grid-container__item--4 {
  grid-area: cuatro;
}

.grid-container__item--5 {
  grid-area: cinco;
}

.grid-container__item--6 {
  grid-area: seis;
}