.post {}
.post__title {}


.post__link {
  color: #4D9AE9;
  text-decoration: none;
}

/* .post__link[href*="https://"] {
  color: #4D9AE9;
  color: red;
  text-decoration: none;
  padding-right: 20px;
  background: url(../img/external-link@2x.png) right center no-repeat;
  background-size: auto 25px;
  display: inline-block;
} */

.post__link[href*="https://"] {
  padding-right: 20px;
  position: relative;
}
.post__link[href*="https://"]::after {
  content: '';
  width: 15px;
  height: 15px;
  background: url(../img/external-link@2x.png) right center no-repeat;
  background-size: auto 15px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

