body {
  margin: 0;
}

.main {}

.container { 
  margin: 0 20px;
}

@media (min-width: 768px) {
 .container { 
    margin: 0 50px;
  } 
}

@media (min-width: 900px) { /* 50 + 800 + 50 */
  .container { 
    margin: 0 auto;
    width: 800px;
  } 
}



.hero {
  background: url(https://images.unsplash.com/photo-1468581264429-2548ef9eb732?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2340&q=80) center bottom no-repeat;
  background-size: cover;
}

.hero .container {
  height: 400px;
  position: relative;
}

@media (min-height: 400px) {
 .hero .container {
    height: 100vh;
  } 
}


.hero__title {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-align: center;
  color: white;
  text-shadow: 0 0 15px rgba(0,0,0,.2);
}

@media (min-width: 768px) {
  .hero__title {
    font-size: 100px;
  }
}

@media (min-width: 1440px) {
  .hero__title {
    white-space:nowrap;
  }
}



/* HABRÏA QUE ORGANIZARLO ASÍ */

/* @media (min-height: 400px) {
 .hero .container {
    height: 100vh;
  } 
}

@media (min-width: 768px) {
 .container { 
    margin: 0 50px;
  }
  .hero__title {
    font-size: 100px;
  }
}

@media (min-width: 900px) { 
  .container { 
    margin: 0 auto;
    width: 800px;
  } 
}

@media (min-width: 1440px) {
  .hero__title {
    white-space:nowrap;
  }
} */