body {
  margin: 0;
}
.hero {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2346&q=80) center bottom no-repeat red;
  background-size: cover;
  position: relative;
}

.hero__title {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

