body {
  margin: 0;
}
.page {
  display: flex;
  flex-direction: column;
  background-color: cyan;
  min-height: 100vh;
}

.page__header {
  background-color: gold;
}

.page__main {
  background-color: white;
  flex-grow: 1;
}

.page__footer {
  /* margin-top: auto; */
  background-color: black;
  color: white;
}
